body {
    margin: 60px auto;
    width: 70%;
}

footer {
    
    font-size: .8em;
}

footer ul{
font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px 0px;
    list-style: none;
    font-weight: bold;
	border-top: 1px solid #d5d5d5;
}

.footer ul li {
    display: inline;
    margin-right: 20px;
}